*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
    background-color: #f6fbf8;
    scroll-behavior: smooth;
}
::selection {
    background: #8CAC74;
}
.nav{
    z-index: 1;
    background-color: #68a15e;
    padding: 10px;
    position: fixed;
    width: 100%;
}
.nav__ul{
    display: flex;
    font-size: 1.5em;
}
.nav__li{
    margin: 0% 3.5% 0% 3.5%;
}
.nav__li a{
    color: white;
}
.nav__li a:hover{
    color: #2e5039;
    transition-delay: .2s;
}
.push{
    margin-right: auto;
}
.firstbackground{
    height: 100vh;
    background: url("zimage2.jpg");
    background-size: cover;
}
.cover{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 92%;
}
.cover img{
    margin-top: 8%;
    max-width: 50%;
    max-height: 80%;
    filter:contrast(120%);
}
.c_content{
    margin-top: 8%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 47%;
    height: 100%;
}
.c_content h2{
    color: white;
    border: 3px solid #306e44;
    text-align: center;
}
.c_content a{
    color: white;
    align-self: center;
    margin-top: 8%;
    font-size: 1.8em;
    border: solid #68A15E 5px;
    background-color: #68A15E;
    border-radius: 15px;
}
.c_content a:hover{
    color: #1f3325;
}
.divh2{
    display: flex;
    justify-content: start;
}
.divh2 h3{
    background-color: #306E44;
    padding: 1%;
    color: white;
    text-align: center;
    width: 50%;
}
.images{
    display: flex;
}
.images img{
    padding: 2%;
    width: 50%;
    object-fit: cover;
}
.help{
    background-color: #306E44;
    padding-left: 2%;
    color: white;
    margin-bottom: 4%;
    letter-spacing: 3px;
}
.cards{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.cards div{
    width: 33.2%;
    height: 80%;
}
.cards img{
    border: 3px solid #306E44;
    height: 22vw;
    width: 17vw;
    object-fit: cover;
}
.cards a{
    color: white;
    background-color: #68A15E;
    border: 2px solid;
    border-radius: 100px;
    font-size: 1em;
    padding: 2%;
}
.cards p{
    padding: 0 20% 0 20%;
    margin-bottom: 4%;
}
.mainfooter{
    background-color: #224f31;
    color: white;
    text-align: center;
    max-height: 300px;
}
.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 1%;
    margin-top: 2%;
}
.about{
    width: 50%;
}
.about *{
    margin-top: 5%;
}

@media only screen and (max-width: 570px){
    .nav__ul{
        font-size: 1em;
    }
    .nav__li{
        margin-left: 0;
    }
    .last{
        margin-right: 0;
    }
    .c_content h2{
        font-size: 1.3em;
    }
    .cover img{
        height: 40%;
    }
    .c_content a{
        font-size: 1.2em;
    }    
    .cards p{
        font-size: 0.8em;
    }
    .cards h2{
        font-size: 1em;
    }
    .help h2{
        font-size: 1em;
    }
}
@media only screen and (max-width: 400px) {
    .nav__ul{
        font-size: 0.9em;
    }
    .push{
        margin-left: 0;
    }
    .cover{
        flex-direction: column;
        justify-content: flex-start;
    }
    .cover img{
        display: none;
    }
    .c_content a{
        font-size: 1em;
    }    
    .divh2 h3{
        font-size: 0.8em;
    }
    .nav{
        padding: 15px;
    }
    .help{
        letter-spacing: 0;
        font-size: 1em;
    }
    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 7%;
    }
    .cards div{
        width: 100%;
    }
    .cards img{
        height: 50vw;
        width: 100%;
        padding: 5% 5% 5% 5%;
        border: none;
    }
    .cards p{
        padding: 0 8% 0 8%;
    }
    .footer{
        font-size: 11px;
    }
    .footer img{
        width: 15%;
    }
}
